.gallery {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  .image-wrapper {
    position: relative;
    display: block;
    margin: 10px;
    background: transparent;
    padding: 0;

    cursor: pointer;
    transition: transform .2s ease-out;

    &:hover {
      opacity: .9;
      transform: scale(1.02);
    }
  }

  .delete-image {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    opacity: .5;
    font-size: 14px;
    z-index: 9999;

    &:hover{
      opacity: 1;
    }
  }

  .image {
    display: block;
    position:absolute;
    transform-origin: top left;
  }
}